<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nivishka_android">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyAOj0J6l6FhfDGTidGJIs3u3EMaz5bypa4"/>
</manifest>
